---
// DELETE THIS FILE AND PARENT FOLDER ONCE PROJECT IS NEAR COMPLETION AND ALL SLIDERS IN PLACE
import Layout from "../layouts/Layout.astro";
import Example from "../components/examples/CarouselExample.tsx";
---

<Layout title="Carousel Example">
    <main>
        <Example client:load />
    </main>
</Layout>
