---
// DELETE THIS FILE AND PARENT FOLDER ONCE PROJECT IS NEAR COMPLETION AND ALL SLIDERS ARE IN PLACE
import BaseLayout from "../layouts/BaseLayout.astro";
import Example from "../components/examples/CarouselExample.tsx";
---

<BaseLayout title="Carousel Example">
    <main>
        <Example client:load />
    </main>
</BaseLayout>
