---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/organisms/HeroSection.astro";
import heroImage from "../assets/PLACEMENT-hero-taj.webp";
---

<BaseLayout title="Community">
    <main class="max-w-screen-2xl w-full mx-auto text-lewrap-off-black">
        {/* Hero section */}
        <HeroSection
            title="At LeWrap We Support Local Communities"
            image={heroImage}
        />
        {/* // Hero section */}
    </main>
</BaseLayout>
