---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/organisms/HeroSection.astro";
import heroImage from "../assets/PLACEMENT-hero-taj.webp";
---

<BaseLayout title="Contact Us">
    <main class="max-w-screen-2xl w-full mx-auto text-lewrap-off-black">
        {/* Hero section */}
        <HeroSection title="Contact LeWrap" image={heroImage} />
        {/* // Hero section */}
    </main>
</BaseLayout>
