---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/organisms/HeroSection.astro";
import heroImage from "./public/images/hero/PLACEMENT-hero-taj.webp";
---

<BaseLayout title="Nutrition">
    <main class="max-w-screen-2xl w-full mx-auto text-lewrap-off-black">
        {/* Hero section */}
        <HeroSection
            title="Nutritional Information"
            image={heroImage}
            ctaText="Download nutrition guide"
            ctaHref="/"
        />
        {/* // Hero section */}
    </main>
</BaseLayout>
