---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/organisms/HeroSection.astro";
import heroImage from "../assets/PLACEMENT-hero-taj.webp";
---

<BaseLayout title="Our Food">
    <main class="max-w-screen-2xl w-full mx-auto text-lewrap-off-black">
        <HeroSection title="Our Food" image={heroImage}>
            <div
                class="max-w-xl flex flex-wrap gap-2 items-center justify-center"
            >
                <a
                    href="#"
                    class="btn-lewrap text-sm py-2 px-5 whitespace-nowrap"
                    >Latest Deals</a
                >
                <a
                    href="#"
                    class="btn-lewrap text-sm py-2 px-5 whitespace-nowrap"
                    >Wraps</a
                >
                <a
                    href="#"
                    class="btn-lewrap text-sm py-2 px-5 whitespace-nowrap"
                    >Plates</a
                >
                <a
                    href="#"
                    class="btn-lewrap text-sm py-2 px-5 whitespace-nowrap"
                    >Baguettes</a
                >
                <a
                    href="#"
                    class="btn-lewrap text-sm py-2 px-5 whitespace-nowrap"
                    >Protein Packs</a
                >
                <a
                    href="#"
                    class="btn-lewrap text-sm py-2 px-5 whitespace-nowrap"
                    >Salads</a
                >
                <a
                    href="#"
                    class="btn-lewrap text-sm py-2 px-5 whitespace-nowrap"
                    >Kids Meals</a
                >
                <a
                    href="#"
                    class="btn-lewrap text-sm py-2 px-5 whitespace-nowrap"
                    >Sides</a
                >
                <a
                    href="#"
                    class="btn-lewrap text-sm py-2 px-5 whitespace-nowrap"
                    >Drinks</a
                >
            </div>
        </HeroSection>
    </main>
</BaseLayout>
