---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Policies">
    <main class="max-w-screen-2xl w-full mx-auto text-lewrap-off-black">
        {/* Hero section */}
        <section
            class="relative bg-lewrap-green flex items-center justify-center mt-10 md:mt-15 w-[95%] mx-auto h-[25vh] md:h-[30vh] rounded-2xl"
        >
            <h1
                class="text-white text-4xl md:text-[90px] w-3/4 md:w-auto font-bold leading-[100%] tracking-tight text-center"
            >
                Policies
            </h1>
        </section>
        {/* // Hero section */}
    </main>
</BaseLayout>
