---
interface Props {
    image: string;
    title: string;
    description: string;
}

const { image, title, description } = Astro.props;
---

<div
    class="bg-white rounded-xl shadow-[0px_26px_40px_0px_rgba(0,0,0,0.08)] p-6 flex flex-col gap-4"
>
    <img src={image} alt={title} class="w-14 h-14" />
    <h3 class="text-3xl/8 font-bold text-lewrap-green-dark capitalize">
        {title}
    </h3>
    <p class="text-lg text-lewrap-off-black">
        {description}
    </p>
</div>
