---
const {
    title,
    subtitle,
    bg_color = "bg-gray-100", // Default color if none selected
} = Astro.props;
---

<section class={`py-20 text-center ${bg_color}`}>
    <div class="max-w-4xl mx-auto px-6">
        {
            title && (
                <h1 class="text-5xl md:text-6xl font-black tracking-tight text-lewrap-green-dark mb-6">
                    {title}
                </h1>
            )
        }

        {
            subtitle && (
                <p class="text-xl md:text-2xl text-lewrap-off-black max-w-2xl mx-auto">
                    {subtitle}
                </p>
            )
        }
    </div>
</section>
