---
import { Image } from "astro:assets";
---

<section>
    <h3 class="text-3xl text-lewrap-green font-helvetica-condensed font-black">
        Instagram feed sent via behold.so as a JSON. Send Mon the link to
        connect the account. We'll schedule a rebuild script in CC for every
        24hrs so the static feed is never more than a day old. NOTE:
        ScrollReveal delay on all img blocks if fed via JSON?
    </h3>
</section>
