---
import { Image } from "astro:assets";
---

<section>
    <h3 class="text-3xl text-lewrap-green font-helvetica-condensed font-black">
        Potentially connect Instagram feed sent via behold.so as a JSON.
        Potential issue is free tier only allows one account per domain, and
        will need to develop a rebuilt script that fires in CC every 24hrs for
        updating. Leaning toward building app in Meta.<br />NOTE: ScrollReveal
        delay on all img blocks if fed via JSON?
    </h3>
</section>
