---
import { Image } from "astro:assets";
import leWrapLogo from "../../assets/brand/lewrap.svg";
const pathname = Astro.url.pathname.replace(/\/$/, "") || "/";
---

<div
    class="fixed top-4 left-0 right-0 flex justify-center z-50 pointer-events-none"
>
    <nav
        id="main-nav"
        class="relative bg-white text-lewrap-off-black rounded-full px-6 py-6 md:py-5 flex items-center shadow-lg pointer-events-auto max-w-screen-2xl md:justify-start justify-between box-border overflow-hidden opacity-0"
        style="width: auto; transition: width 0.5s cubic-bezier(0.22, 1, 0.36, 1);"
    >
        {/* Logo */}
        <a href="/" class="shrink-0">
            <Image
                src={leWrapLogo}
                alt="LeWrap"
                class="w-[90px] md:w-[130px] h-auto"
            />
        </a>

        {/* Social Icons - Desktop */}
        <div
            class="hidden md:flex items-center gap-3 shrink-0 ml-5 nav-socials-desktop"
        >
            <a
                href="https://www.instagram.com/lewrap_official"
                target="_blank"
                class="hover:opacity-70 transition-opacity"
            >
                <svg
                    class="w-5 h-5"
                    width="22"
                    height="21"
                    viewBox="0 0 22 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g clip-path="url(#clip0_4_53_d)">
                        <path
                            d="M11.0021 5.11587C8.01892 5.11587 5.61271 7.51975 5.61271 10.5C5.61271 13.4803 8.01892 15.8841 11.0021 15.8841C13.9852 15.8841 16.3914 13.4803 16.3914 10.5C16.3914 7.51975 13.9852 5.11587 11.0021 5.11587ZM11.0021 14.0004C9.07427 14.0004 7.49828 12.4306 7.49828 10.5C7.49828 8.5694 9.06958 6.99961 11.0021 6.99961C12.9345 6.99961 14.5058 8.5694 14.5058 10.5C14.5058 12.4306 12.9298 14.0004 11.0021 14.0004ZM17.8689 4.89563C17.8689 5.59383 17.306 6.15146 16.6118 6.15146C15.913 6.15146 15.3548 5.58914 15.3548 4.89563C15.3548 4.20211 15.9177 3.6398 16.6118 3.6398C17.306 3.6398 17.8689 4.20211 17.8689 4.89563ZM21.4383 6.1702C21.3586 4.48795 20.974 2.99782 19.7404 1.77011C18.5115 0.542397 17.0199 0.15815 15.336 0.0738034C13.6006 -0.0246011 8.39885 -0.0246011 6.66338 0.0738034C4.98419 0.153464 3.49263 0.537711 2.25904 1.76542C1.02545 2.99314 0.645518 4.48326 0.56109 6.16551C0.46259 7.89931 0.46259 13.096 0.56109 14.8298C0.640828 16.512 1.02545 18.0022 2.25904 19.2299C3.49263 20.4576 4.9795 20.8418 6.66338 20.9262C8.39885 21.0246 13.6006 21.0246 15.336 20.9262C17.0199 20.8465 18.5115 20.4623 19.7404 19.2299C20.9693 18.0022 21.3539 16.512 21.4383 14.8298C21.5368 13.096 21.5368 7.90399 21.4383 6.1702ZM19.1963 16.6901C18.8304 17.6086 18.1222 18.3161 17.1981 18.6863C15.8145 19.2346 12.5311 19.1081 11.0021 19.1081C9.47296 19.1081 6.18495 19.2299 4.80596 18.6863C3.88663 18.3208 3.17837 17.6132 2.80782 16.6901C2.25904 15.3078 2.38568 12.0276 2.38568 10.5C2.38568 8.97239 2.26373 5.68755 2.80782 4.30988C3.17368 3.39144 3.88193 2.68387 4.80596 2.31368C6.18964 1.76542 9.47296 1.89194 11.0021 1.89194C12.5311 1.89194 15.8192 1.77011 17.1981 2.31368C18.1175 2.67918 18.8257 3.38676 19.1963 4.30988C19.7451 5.69223 19.6184 8.97239 19.6184 10.5C19.6184 12.0276 19.7451 15.3124 19.1963 16.6901Z"
                            fill="black"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_4_53_d">
                            <rect width="21.5122" height="21" fill="white"
                            ></rect>
                        </clipPath>
                    </defs>
                </svg>
            </a>
            <a
                href="https://www.tiktok.com/@lewrap"
                target="_blank"
                class="hover:opacity-70 transition-opacity"
            >
                <svg
                    class="w-5 h-5"
                    width="19"
                    height="21"
                    viewBox="0 0 19 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M15.5778 4.20913C14.4467 3.47161 13.6306 2.29118 13.3759 0.915984C13.3209 0.618941 13.2903 0.312934 13.2903 0H9.68018L9.67407 14.4687C9.61376 16.0892 8.28012 17.3894 6.64537 17.3894C6.13726 17.3894 5.65889 17.2627 5.23757 17.0406C4.27147 16.5325 3.61015 15.52 3.61015 14.355C3.61015 12.6816 4.9719 11.3198 6.64496 11.3198C6.95749 11.3198 7.25698 11.3716 7.54017 11.46V7.77446C7.24679 7.73412 6.94893 7.70967 6.64496 7.70967C2.98102 7.70967 0 10.6903 0 14.355C0 16.603 1.12298 18.5927 2.83719 19.7955C3.91616 20.5538 5.22942 21 6.64537 21C10.3097 21 13.2903 18.019 13.2903 14.355V7.01779C14.7063 8.03401 16.4413 8.63299 18.3136 8.63299V5.02243C17.3051 5.02243 16.3659 4.72294 15.5778 4.20913Z"
                        fill="black"></path>
                </svg>
            </a>
            <a
                href="https://www.facebook.com/lewrapaus"
                target="_blank"
                class="hover:opacity-70 transition-opacity"
            >
                <svg
                    class="w-5 h-5"
                    width="12"
                    height="21"
                    viewBox="0 0 12 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g clip-path="url(#clip0_4_48_d)">
                        <path
                            d="M10.4015 11.8125L10.9787 8.01199H7.36971V5.54572C7.36971 4.50598 7.87385 3.49248 9.49019 3.49248H11.1309V0.256758C11.1309 0.256758 9.642 0 8.21847 0C5.24639 0 3.30371 1.82027 3.30371 5.11547V8.01199H0V11.8125H3.30371V21H7.36971V11.8125H10.4015Z"
                            fill="black"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_4_48_d">
                            <rect width="11.2683" height="21" fill="white"
                            ></rect>
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>

        {/* Social Icons - Mobile: centered absolutely */}
        <div
            class="md:hidden absolute left-1/2 -translate-x-1/2 flex items-center gap-5 nav-socials-mobile"
        >
            <a
                href="https://www.instagram.com/lewrap_official"
                target="_blank"
                class="hover:opacity-70 transition-opacity"
            >
                <svg
                    class="w-5 h-5"
                    width="22"
                    height="21"
                    viewBox="0 0 22 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g clip-path="url(#clip0_4_53_m)">
                        <path
                            d="M11.0021 5.11587C8.01892 5.11587 5.61271 7.51975 5.61271 10.5C5.61271 13.4803 8.01892 15.8841 11.0021 15.8841C13.9852 15.8841 16.3914 13.4803 16.3914 10.5C16.3914 7.51975 13.9852 5.11587 11.0021 5.11587ZM11.0021 14.0004C9.07427 14.0004 7.49828 12.4306 7.49828 10.5C7.49828 8.5694 9.06958 6.99961 11.0021 6.99961C12.9345 6.99961 14.5058 8.5694 14.5058 10.5C14.5058 12.4306 12.9298 14.0004 11.0021 14.0004ZM17.8689 4.89563C17.8689 5.59383 17.306 6.15146 16.6118 6.15146C15.913 6.15146 15.3548 5.58914 15.3548 4.89563C15.3548 4.20211 15.9177 3.6398 16.6118 3.6398C17.306 3.6398 17.8689 4.20211 17.8689 4.89563ZM21.4383 6.1702C21.3586 4.48795 20.974 2.99782 19.7404 1.77011C18.5115 0.542397 17.0199 0.15815 15.336 0.0738034C13.6006 -0.0246011 8.39885 -0.0246011 6.66338 0.0738034C4.98419 0.153464 3.49263 0.537711 2.25904 1.76542C1.02545 2.99314 0.645518 4.48326 0.56109 6.16551C0.46259 7.89931 0.46259 13.096 0.56109 14.8298C0.640828 16.512 1.02545 18.0022 2.25904 19.2299C3.49263 20.4576 4.9795 20.8418 6.66338 20.9262C8.39885 21.0246 13.6006 21.0246 15.336 20.9262C17.0199 20.8465 18.5115 20.4623 19.7404 19.2299C20.9693 18.0022 21.3539 16.512 21.4383 14.8298C21.5368 13.096 21.5368 7.90399 21.4383 6.1702ZM19.1963 16.6901C18.8304 17.6086 18.1222 18.3161 17.1981 18.6863C15.8145 19.2346 12.5311 19.1081 11.0021 19.1081C9.47296 19.1081 6.18495 19.2299 4.80596 18.6863C3.88663 18.3208 3.17837 17.6132 2.80782 16.6901C2.25904 15.3078 2.38568 12.0276 2.38568 10.5C2.38568 8.97239 2.26373 5.68755 2.80782 4.30988C3.17368 3.39144 3.88193 2.68387 4.80596 2.31368C6.18964 1.76542 9.47296 1.89194 11.0021 1.89194C12.5311 1.89194 15.8192 1.77011 17.1981 2.31368C18.1175 2.67918 18.8257 3.38676 19.1963 4.30988C19.7451 5.69223 19.6184 8.97239 19.6184 10.5C19.6184 12.0276 19.7451 15.3124 19.1963 16.6901Z"
                            fill="black"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_4_53_m">
                            <rect width="21.5122" height="21" fill="white"
                            ></rect>
                        </clipPath>
                    </defs>
                </svg>
            </a>
            <a
                href="https://www.tiktok.com/@lewrap"
                target="_blank"
                class="hover:opacity-70 transition-opacity"
            >
                <svg
                    class="w-5 h-5"
                    width="19"
                    height="21"
                    viewBox="0 0 19 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M15.5778 4.20913C14.4467 3.47161 13.6306 2.29118 13.3759 0.915984C13.3209 0.618941 13.2903 0.312934 13.2903 0H9.68018L9.67407 14.4687C9.61376 16.0892 8.28012 17.3894 6.64537 17.3894C6.13726 17.3894 5.65889 17.2627 5.23757 17.0406C4.27147 16.5325 3.61015 15.52 3.61015 14.355C3.61015 12.6816 4.9719 11.3198 6.64496 11.3198C6.95749 11.3198 7.25698 11.3716 7.54017 11.46V7.77446C7.24679 7.73412 6.94893 7.70967 6.64496 7.70967C2.98102 7.70967 0 10.6903 0 14.355C0 16.603 1.12298 18.5927 2.83719 19.7955C3.91616 20.5538 5.22942 21 6.64537 21C10.3097 21 13.2903 18.019 13.2903 14.355V7.01779C14.7063 8.03401 16.4413 8.63299 18.3136 8.63299V5.02243C17.3051 5.02243 16.3659 4.72294 15.5778 4.20913Z"
                        fill="black"></path>
                </svg>
            </a>
            <a
                href="https://www.facebook.com/lewrapaus"
                target="_blank"
                class="hover:opacity-70 transition-opacity"
            >
                <svg
                    class="w-5 h-5"
                    width="12"
                    height="21"
                    viewBox="0 0 12 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g clip-path="url(#clip0_4_48_m)">
                        <path
                            d="M10.4015 11.8125L10.9787 8.01199H7.36971V5.54572C7.36971 4.50598 7.87385 3.49248 9.49019 3.49248H11.1309V0.256758C11.1309 0.256758 9.642 0 8.21847 0C5.24639 0 3.30371 1.82027 3.30371 5.11547V8.01199H0V11.8125H3.30371V21H7.36971V11.8125H10.4015Z"
                            fill="black"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_4_48_m">
                            <rect width="11.2683" height="21" fill="white"
                            ></rect>
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>

        {/* Spacer - Desktop only */}
        <div class="hidden md:flex flex-grow nav-spacer"></div>

        {/* Desktop Menu */}
        <div
            class="hidden md:flex items-center gap-5 shrink-0 whitespace-nowrap text-lg text-lewrap-green-dark capitalize"
        >
            <a
                href="/our-story"
                class:list={[
                    "font-helvetica-condensed font-bold duration-200",
                    pathname === "/our-story"
                        ? "text-lewrap-green pointer-events-none"
                        : "hover:text-lewrap-green",
                ]}
            >
                Our story
            </a>
            <a
                href="/locations"
                class:list={[
                    "font-helvetica-condensed font-bold duration-200",
                    pathname === "/locations"
                        ? "text-lewrap-green pointer-events-none"
                        : "hover:text-lewrap-green",
                ]}
            >
                Locations
            </a>
            <a
                href="/our-food"
                class:list={[
                    "font-helvetica-condensed font-bold duration-200",
                    pathname === "/our-food"
                        ? "text-lewrap-green pointer-events-none"
                        : "hover:text-lewrap-green",
                ]}
            >
                Our food
            </a>
            <a
                href="/nutrition"
                class:list={[
                    "font-helvetica-condensed font-bold duration-200",
                    pathname === "/nutrition"
                        ? "text-lewrap-green pointer-events-none"
                        : "hover:text-lewrap-green",
                ]}
            >
                Nutrition
            </a>
            <a
                href="/catering"
                class:list={[
                    "font-helvetica-condensed font-bold duration-200",
                    pathname === "/catering"
                        ? "text-lewrap-green pointer-events-none"
                        : "hover:text-lewrap-green",
                ]}
            >
                Catering
            </a>
            <a
                href="/work-with-us"
                class:list={[
                    "font-helvetica-condensed font-bold duration-200",
                    pathname === "/work-with-us"
                        ? "text-lewrap-green pointer-events-none"
                        : "hover:text-lewrap-green",
                ]}
            >
                Work With Us
            </a>
            <a
                href="/own-a-store"
                class:list={[
                    "font-helvetica-condensed font-black duration-200",
                    pathname === "/own-a-store"
                        ? "text-lewrap-green pointer-events-none"
                        : "hover:text-lewrap-green",
                ]}
            >
                Own a store
            </a>
            <a
                href="https://lewrap.redcatcloud.com.au/app/menu"
                class:list={[
                    "btn-lewrap-secondary text-lg",
                    pathname === "https://lewrap.redcatcloud.com.au/app/menu"
                        ? "text-lewrap-green pointer-events-none"
                        : "hover:text-white hover:bg-lewrap-green hover:scale-105",
                ]}
                target="_blank"
            >
                Order now
            </a>
        </div>

        {/* Mobile Hamburger Button */}
        <button
            id="mobile-menu-btn"
            class="md:hidden flex flex-col gap-1.5 w-6 h-6 justify-center items-end shrink-0"
            aria-label="Toggle menu"
        >
            <span
                class="w-full h-0.5 bg-lewrap-off-black block transition-all duration-300 hamburger-line-1"
            ></span>
            <span
                class="w-full h-0.5 bg-lewrap-off-black block transition-all duration-300 hamburger-line-2"
            ></span>
            <span
                class="h-0.5 bg-lewrap-off-black block transition-all duration-300 w-[80%] hamburger-line-3"
            ></span>
        </button>
    </nav>
</div>

{/* Mobile Menu Dropdown - Full Screen */}
<div
    id="mobile-menu-overlay"
    class="md:hidden fixed inset-0 z-40 bg-white transition-opacity duration-300 opacity-0 pointer-events-none"
>
    <div
        class="flex flex-col items-center justify-center h-full px-8 gap-5 pt-24 capitalize"
    >
        <a
            href="/our-story"
            class:list={[
                "duration-200 text-2xl font-helvetica-condensed font-bold mobile-link",
                pathname === "/our-story"
                    ? "text-lewrap-green"
                    : "text-lewrap-green-dark hover:text-lewrap-green",
            ]}
        >
            Our story
        </a>
        <a
            href="/locations"
            class:list={[
                "duration-200 text-2xl font-helvetica-condensed font-bold mobile-link",
                pathname === "/locations"
                    ? "text-lewrap-green"
                    : "text-lewrap-green-dark hover:text-lewrap-green",
            ]}
        >
            Locations
        </a>
        <a
            href="/our-food"
            class:list={[
                "duration-200 text-2xl font-helvetica-condensed font-bold mobile-link",
                pathname === "/our-food"
                    ? "text-lewrap-green"
                    : "text-lewrap-green-dark hover:text-lewrap-green",
            ]}
        >
            Our food
        </a>
        <a
            href="/nutrition"
            class:list={[
                "duration-200 text-2xl font-helvetica-condensed font-bold mobile-link",
                pathname === "/nutrition"
                    ? "text-lewrap-green"
                    : "text-lewrap-green-dark hover:text-lewrap-green",
            ]}
        >
            Nutrition
        </a>
        <a
            href="/catering"
            class:list={[
                "duration-200 text-2xl font-helvetica-condensed font-bold mobile-link",
                pathname === "/catering"
                    ? "text-lewrap-green"
                    : "text-lewrap-green-dark hover:text-lewrap-green",
            ]}
        >
            Catering
        </a>
        <a
            href="/work-with-us"
            class:list={[
                "dur    ation-200 text-2xl font-helvetica-condensed font-bold mobile-link",
                pathname === "/work-with-us"
                    ? "text-lewrap-green"
                    : "text-lewrap-green-dark hover:text-lewrap-green",
            ]}
        >
            Work With Us
        </a>
        <a
            href="/own-a-store"
            class:list={[
                "duration-200 text-2xl font-helvetica-condensed font-bold mobile-link",
                pathname === "/own-a-store"
                    ? "text-lewrap-green"
                    : "text-lewrap-green-dark hover:text-lewrap-green",
            ]}
        >
            Own a store
        </a>

        {/* Order Now Button */}
        <a
            href="https://lewrap.redcatcloud.com.au/app/menu"
            class="px-8 py-4 bg-lewrap-green-dark rounded-full w-full border-4 border-lewrap-green text-white font-cocogoose uppercase duration-200 text-2xl hover:bg-lewrap-green hover:scale-105 text-center mt-4 mobile-link"
            target="_blank"
        >
            Order now
        </a>
    </div>
</div>

<script>
    function initNavigation() {
        const nav = document.getElementById("main-nav");
        if (!nav) return;

        const mobileBtn = document.getElementById("mobile-menu-btn");
        const mobileMenuOverlay = document.getElementById(
            "mobile-menu-overlay",
        );
        const hamburgerLine1 = mobileBtn?.querySelector(".hamburger-line-1");
        const hamburgerLine2 = mobileBtn?.querySelector(".hamburger-line-2");
        const hamburgerLine3 = mobileBtn?.querySelector(".hamburger-line-3");
        const mobileLinks = document.querySelectorAll(".mobile-link");

        let isMobileMenuOpen = false;
        let isScrolled = window.scrollY > 50;
        let contentWidth = 0;
        let expandedWidth = 0;
        let isMobile = window.innerWidth < 768;

        function toggleMobileMenu(open: boolean) {
            isMobileMenuOpen = open;
            if (open) {
                // Open menu
                mobileMenuOverlay?.classList.remove(
                    "opacity-0",
                    "pointer-events-none",
                );
                mobileMenuOverlay?.classList.add(
                    "opacity-100",
                    "pointer-events-auto",
                );

                // Animate hamburger
                hamburgerLine1?.classList.add("rotate-45", "translate-y-[8px]");
                hamburgerLine2?.classList.add("opacity-0");
                hamburgerLine3?.classList.add(
                    "-rotate-45",
                    "-translate-y-[8px]",
                    "w-full",
                );
                hamburgerLine3?.classList.remove("w-[80%]");
            } else {
                // Close menu
                mobileMenuOverlay?.classList.remove(
                    "opacity-100",
                    "pointer-events-auto",
                );
                mobileMenuOverlay?.classList.add(
                    "opacity-0",
                    "pointer-events-none",
                );

                // Reset hamburger
                hamburgerLine1?.classList.remove(
                    "rotate-45",
                    "translate-y-[8px]",
                );
                hamburgerLine2?.classList.remove("opacity-0");
                hamburgerLine3?.classList.remove(
                    "-rotate-45",
                    "-translate-y-[8px]",
                    "w-full",
                );
                hamburgerLine3?.classList.add("w-[80%]");
            }
        }

        // Event Listeners
        mobileBtn?.addEventListener("click", () => {
            toggleMobileMenu(!isMobileMenuOpen);
        });

        mobileLinks.forEach((link) => {
            link.addEventListener("click", () => {
                toggleMobileMenu(false);
            });
        });

        // Width calculation logic
        function updateWidths() {
            if (!nav) return;

            isMobile = window.innerWidth < 768;

            // Calculate natural content width
            const children = Array.from(nav.children).filter(
                (child) => !child.classList.contains("nav-spacer"),
            );

            // Sum up widths
            const childrenWidth = children.reduce((total, child) => {
                return total + (child as HTMLElement).offsetWidth;
            }, 0);

            // Add padding (matches React: 150)
            const padding = 150;
            contentWidth = childrenWidth + padding;

            // Calculate expanded width (95% of viewport, max 1400)
            const ninetyFivePercent = window.innerWidth * 0.95;
            const maxAllowed = 1400;
            expandedWidth = Math.min(ninetyFivePercent, maxAllowed);

            updateNavState();

            // Fade in nav after initial calculation
            nav.classList.remove("opacity-0");
        }

        function updateNavState() {
            if (!nav) return;
            if (isMobile) {
                nav.style.width = `${expandedWidth}px`;
            } else {
                nav.style.width = isScrolled
                    ? `${contentWidth}px`
                    : `${expandedWidth}px`;
            }
        }

        function handleScroll() {
            const newIsScrolled = window.scrollY > 50;
            if (newIsScrolled !== isScrolled) {
                isScrolled = newIsScrolled;
                updateNavState();
            }
        }

        // Initialize
        updateWidths();
        window.addEventListener("resize", updateWidths);
        window.addEventListener("scroll", handleScroll);

        // Cleanup function for view transitions if needed (Astro handles scripts by default but listener cleanup is good practice)
        // Since we are using View Transitions, looking for 'astro:before-swap' or similar might be needed if this persists?
        // But since this component is re-rendered, the script re-runs.
        // We should just ensure we don't duplicate listeners if the framework doesn't clean them up, but a fresh run is safe.
    }

    // Run on load and after view transitions
    initNavigation();
    document.addEventListener("astro:page-load", initNavigation);
</script>
