---
import Button from "../atoms/Button.astro";
---

<section
    class="bg-[#CBE0BC] border-b-4 border-background rounded-t-2xl px-10 py-8 text-lewrap-off-black"
>
    <div
        class="max-w-screen-lg mx-auto flex flex-col md:flex-row gap-4 justify-center items-center"
    >
        <div class="flex flex-col gap-y-4 md:gap-y-1">
            <h3
                class="text-4xl font-bold text-lewrap-green-dark text-center md:text-left"
            >
                Sign up to our Loyalty Program
            </h3>

            <p class="text-xl text-center md:text-left">
                Keep up to date with LeWrap's latest news and exclusive deals
            </p>
        </div>

        <Button
            variant="secondary"
            href="https://lewrap.redcatcloud.com.au/app/menu"
            target="_blank">Sign me up!</Button
        >
    </div>
</section>
