---

---

<section
    class="bg-[#CBE0BC] border-b-4 border-background rounded-t-2xl px-10 py-18 text-lewrap-off-black"
>
    <div class="grid md:grid-cols-2 items-center">
        <div class="flex flex-col gap-y-4 md:gap-y-1">
            <h3 class="text-4xl font-bold text-lewrap-green-dark">
                Sign up to our Loyalty Program
            </h3>

            <p class="text-xl">
                Keep up to date with LeWrap's latest news and exclusive deals
            </p>
        </div>

        <div class="mt-4 md:mt-0">
            <form
                class="flex w-full bg-white rounded-full overflow-hidden mx-auto"
                onsubmit="event.preventDefault();"
            >
                <input
                    type="email"
                    placeholder="Enter your email"
                    class="w-full bg-transparent px-6 py-6 text-gray-700 placeholder-gray-500 outline-none"
                    required
                />

                <button
                    type="submit"
                    class="bg-lewrap-green-dark rounded-full text-white font-cocogoose font-bold px-6 py-4 whitespace-nowrap hover:bg-lewrap-green transition-colors"
                >
                    Sign me up!
                </button>
            </form>
        </div>
    </div>
</section>
