---
import { ClientRouter } from "astro:transitions";
import Navigation from "../components/organisms/Navigation";
import Footer from "../components/organisms/Footer";
import CustomCursor from "../components/atoms/CustomCursor";
import "../styles/globals.css";

interface Props {
  title?: string;
}

const { title = "LeWrap" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="LeWrap" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body
    class="antialiased overflow-x-hidden font-sans font-helvetica-condensed"
  >
    <CustomCursor client:load transition:persist />
    <Navigation client:load />
    <slot />
    <Footer client:visible />
  </body>
</html>
