---
import { ClientRouter } from "astro:transitions";
import Navigation from "../components/organisms/Navigation.astro";
import Footer from "../components/organisms/Footer.astro";
import CustomCursor from "../components/atoms/CustomCursor";
import "../styles/globals.css";

interface Props {
  title?: string;
}

const { title = "LeWrap" } = Astro.props;
const displayTitle = title === "LeWrap" ? title : `${title} | LeWrap`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="LeWrap" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <!-- Preload Critical Fonts -->
    <link
      rel="preload"
      href="/fonts/Cocogoose.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/HelveticaNeueCondensedBold.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/HelveticaNeueCondensedBlack.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />

    <!-- Preload Hero Image (LCP) -->
    <link rel="preload" as="image" href="/home/home-slider-01.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{displayTitle}</title>
    <ClientRouter />
  </head>
  <body
    class="antialiased overflow-x-hidden font-sans font-helvetica-condensed"
  >
    <CustomCursor client:media="(pointer: fine)" transition:persist />
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
