---
// 1. IMPORT YOUR BASE LAYOUT
// (Make sure this path points to your actual main layout file)
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";

// 2. EXTRACT DATA
const { frontmatter } = Astro.props;

// 3. DESTRUCTURE VARIABLES
const {
    title,
    hero_title,
    hero_subtitle,
    hero_bg,
    page_blocks = [],
} = frontmatter || {};
---

<BaseLayout title={title}>
    <main
        class="max-w-screen-2xl w-full mx-auto text-lewrap-off-black flex flex-col gap-5"
    >
        {
            hero_title && (
                <Hero
                    title={hero_title}
                    subtitle={hero_subtitle}
                    bg_color={hero_bg}
                />
            )
        }

        <!-- <main class="max-w-screen-2xl mx-auto"> -->
        {
            page_blocks?.map((block: any) => {
                if (block._template === "feature") {
                    return <Feature {...block} />;
                }
                return null;
            })
        }
    </main>
</BaseLayout>
