---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";
import CustomCursor from "../components/atoms/CustomCursor";
import "../styles/globals.css";

// Define the shape of a Block
interface PageBlock {
    _template: string;
    [key: string]: any; // This allows any other properties (title, image, etc.)
}

interface Props {
    frontmatter?: {
        title: string;
        page_blocks?: PageBlock[];
    };
    title?: string;
    page_blocks?: PageBlock[];
}

// Destructure with a fallback to ensure we get the data whether it comes from Markdown or direct props
const { frontmatter } = Astro.props;
const title = frontmatter?.title || Astro.props.title;
const page_blocks = frontmatter?.page_blocks || Astro.props.page_blocks || [];
---

<BaseLayout>
    <main>
        {
            /* Add the type to the map callback */
            page_blocks &&
                page_blocks.map((block: PageBlock) => {
                    switch (block._template) {
                        case "hero":
                            return <Hero {...block} />;
                        case "feature":
                            return <Feature {...block} />;
                        default:
                            return null;
                    }
                })
        }

        <slot />
    </main>
</BaseLayout>
